@page "/"
@inject ApiService Api

<h1 class="text-center">Advent of code 2020</h1>
<DayResult Day=1 GetPart1Result=Day1Part1 GetPart2Result=Day1Part2></DayResult>
<DayResult Day=2 GetPart1Result=Day2Part1 GetPart2Result=Day2Part2></DayResult>
<DayResult Day=3 GetPart1Result=Day3Part1 GetPart2Result=Day3Part2></DayResult>
<DayResult Day=4 GetPart1Result=Day4Part1 GetPart2Result=Day4Part2></DayResult>
<DayResult Day=5 GetPart1Result=Day5Part1 GetPart2Result=Day5Part2></DayResult>
<DayResult Day=6 GetPart1Result=Day6Part1 GetPart2Result=Day6Part2></DayResult>
<DayResult Day=7 GetPart1Result=Day7Part1 GetPart2Result=Day7Part2></DayResult>
<DayResult Day=8 GetPart1Result=Day8Part1 GetPart2Result=Day8Part2></DayResult>
<DayResult Day=9 GetPart1Result=Day9Part1 GetPart2Result=Day9Part2></DayResult>
<DayResult Day=10 GetPart1Result=Day10Part1 GetPart2Result=Day10Part2></DayResult>
<DayResult Day=11 GetPart1Result=Day11Part1 GetPart2Result=Day11Part2></DayResult>
<DayResult Day=12 GetPart1Result=Day12Part1 GetPart2Result=Day12Part2></DayResult>
<DayResult Day=13 GetPart1Result=Day13Part1 GetPart2Result=Day13Part2></DayResult>
<DayResult Day=14 GetPart1Result=Day14Part1 GetPart2Result=Day14Part2></DayResult>
<DayResult Day=15 GetPart1Result=Day15Part1 GetPart2Result=Day15Part2></DayResult>
<DayResult Day=16 GetPart1Result=Day16Part1 GetPart2Result=Day16Part2></DayResult>
<DayResult Day=17 GetPart1Result=Day17Part1 GetPart2Result=Day17Part2></DayResult>
<DayResult Day=18 GetPart1Result=Day18Part1 GetPart2Result=Day18Part2></DayResult>
<DayResult Day=19 GetPart1Result=Day19Part1 GetPart2Result=Day19Part2></DayResult>
<DayResult Day=20 GetPart1Result=Day20Part1 GetPart2Result=Day20Part2></DayResult>
<DayResult Day=21 GetPart1Result=Day21Part1 GetPart2Result=Day21Part2></DayResult>
<DayResult Day=22 GetPart1Result=Day22Part1 GetPart2Result=Day22Part2></DayResult>
<DayResult Day=23 GetPart1Result=Day23Part1 GetPart2Result=Day23Part2></DayResult>
<DayResult Day=24 GetPart1Result=Day24Part1 GetPart2Result=Day24Part2></DayResult>
<DayResult Day=25 GetPart1Result=Day25Part1 GetPart2Result=Day25Part2></DayResult>

@code {
    private async Task<string> GetResult<T>(int day, int part)
    {
        var result = await Api.GetResult<T>(day, part);
        return result?.ToString() ?? string.Empty;
    }
    private async Task<string> Day1Part1()
    {
        return await GetResult<int>(1, 1);
    }
    private async Task<string> Day1Part2()
    {
        return await GetResult<int>(1, 2);
    }
    private async Task<string> Day2Part1()
    {
        return await GetResult<int>(2, 1);
    }
    private async Task<string> Day2Part2()
    {
        return await GetResult<int>(2, 2);
    }
    private async Task<string> Day3Part1()
    {
        return await GetResult<long>(3, 1);
    }
    private async Task<string> Day3Part2()
    {
        return await GetResult<long>(3, 2);
    }
    private async Task<string> Day4Part1()
    {
        return await GetResult<long>(4, 1);
    }
    private async Task<string> Day4Part2()
    {
        return await GetResult<long>(4, 2);
    }
    private async Task<string> Day5Part1()
    {
        return await GetResult<long>(5, 1);
    }
    private async Task<string> Day5Part2()
    {
        return await GetResult<long>(5, 2);
    }

    private async Task<string> Day6Part1()
    {
        return await GetResult<long>(6, 1);
    }
    private async Task<string> Day6Part2()
    {
        return await GetResult<long>(6, 2);
    }

    private async Task<string> Day7Part1()
    {
        return await GetResult<long>(7, 1);
    }
    private async Task<string> Day7Part2()
    {
        return await GetResult<long>(7, 2);
    }

    private async Task<string> Day8Part1()
    {
        return await GetResult<long>(8, 1);
    }
    private async Task<string> Day8Part2()
    {
        return await GetResult<long>(8, 2);
    }

    private async Task<string> Day9Part1()
    {
        return await GetResult<long>(9, 1);
    }
    private async Task<string> Day9Part2()
    {
        return await GetResult<long>(9, 2);
    }

    private async Task<string> Day10Part1()
    {
        return await GetResult<long>(10, 1);
    }
    private async Task<string> Day10Part2()
    {
        return await GetResult<long>(10, 2);
    }

    private async Task<string> Day11Part1()
    {
        return await GetResult<long>(11, 1);
    }
    private async Task<string> Day11Part2()
    {
        return await GetResult<long>(11, 2);
    }

    private async Task<string> Day12Part1()
    {
        return await GetResult<long>(12, 1);
    }
    private async Task<string> Day12Part2()
    {
        return await GetResult<long>(12, 2);
    }

    private async Task<string> Day13Part1()
    {
        return await GetResult<long>(13, 1);
    }
    private async Task<string> Day13Part2()
    {
        return await GetResult<long>(13, 2);
    }

    private async Task<string> Day14Part1()
    {
        return await GetResult<long>(14, 1);
    }
    private async Task<string> Day14Part2()
    {
        return await GetResult<long>(14, 2);
    }

    private async Task<string> Day15Part1()
    {
        return await GetResult<long>(15, 1);
    }
    private async Task<string> Day15Part2()
    {
        return await GetResult<long>(15, 2);
    }

    private async Task<string> Day16Part1()
    {
        return await GetResult<long>(16, 1);
    }
    private async Task<string> Day16Part2()
    {
        return await GetResult<long>(16, 2);
    }

    private async Task<string> Day17Part1()
    {
        return await GetResult<long>(17, 1);
    }
    private async Task<string> Day17Part2()
    {
        return await GetResult<long>(17, 2);
    }

    private async Task<string> Day18Part1()
    {
        return await GetResult<long>(18, 1);
    }
    private async Task<string> Day18Part2()
    {
        return await GetResult<long>(18, 2);
    }

    private async Task<string> Day19Part1()
    {
        return await GetResult<long>(19, 1);
    }
    private async Task<string> Day19Part2()
    {
        return await GetResult<long>(19, 2);
    }

    private async Task<string> Day20Part1()
    {
        return await GetResult<long>(20, 1);
    }
    private async Task<string> Day20Part2()
    {
        return await GetResult<long>(20, 2);
    }

    private async Task<string> Day21Part1()
    {
        return await GetResult<long>(21, 1);
    }
    private async Task<string> Day21Part2()
    {
        return await GetResult<long>(21, 2);
    }

    private async Task<string> Day22Part1()
    {
        return await GetResult<long>(22, 1);
    }
    private async Task<string> Day22Part2()
    {
        return await GetResult<long>(22, 2);
    }

    private async Task<string> Day23Part1()
    {
        return await GetResult<long>(23, 1);
    }
    private async Task<string> Day23Part2()
    {
        return await GetResult<long>(23, 2);
    }

    private async Task<string> Day24Part1()
    {
        return await GetResult<long>(24, 1);
    }
    private async Task<string> Day24Part2()
    {
        return await GetResult<long>(24, 2);
    }

    private async Task<string> Day25Part1()
    {
        return await GetResult<long>(25, 1);
    }
    private async Task<string> Day25Part2()
    {
        return await GetResult<long>(25, 2);
    }
}