@inject ApiService Api
<div>
    Day 3
</div>

    @if (result1 == null || result2 == null)
    {
        <p><em>Loading...</em></p>
    }
    else
    {
        <p> Part 1: @result1
            <br/>
            Part 2: @result2
        </p>
    }

@code {
    private int? result1;
    private int? result2;

    protected override async Task OnInitializedAsync()
    {
        result1 = await Api.Day3Part1();
        result2 = await Api.Day3Part2();
    }
}