<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="https://adventofcode.com/">Advent of code</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="2023">
                <span class="oi" aria-hidden="true"></span> 2023
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="2022">
                <span class="oi" aria-hidden="true"></span> 2022
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="2021">
                <span class="oi" aria-hidden="true"></span> 2021
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="2020">
                <span class="oi" aria-hidden="true"></span> 2020
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="2019">
                <span class="oi" aria-hidden="true"></span> 2019
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="2018">
                <span class="oi" aria-hidden="true"></span> 2018
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="2017">
                <span class="oi" aria-hidden="true"></span> 2017
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="2016">
                <span class="oi" aria-hidden="true"></span> 2016
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="2015">
                    <span class="oi" aria-hidden="true"></span> 2015
                </NavLink>
            </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
